.search{
  background-color: rgb(103, 15, 15);
  border-bottom: 1px solid rgb(224, 115, 115);
  color: white;
  padding-left: 5px;
  padding-right: 5px;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
}

.searchInput {
  max-width: 250px;
  font-size: 16px;
  height: 22px;
  padding-left: 15px;
  border: none;
  border-radius: 2px;
}