.mainButton {
  color: rgb(255, 255, 255);
  background-color: rgb(224, 115, 115);
  border: 1px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(220, 220, 220, 0.5);
}

.mainButton:hover {
  background-color: rgb(224, 115, 115);
  border: 1px solid transparent;
}

.mainButton:active {
  background: rgb(103, 15, 15);
  border-color: transparent;
  box-shadow: none;
}

.secondaryButton {
  color: rgb(33, 33, 33);
  background: white;
  border: 1px solid rgb(200, 200, 200);
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(220, 220, 220, 0.2);
}

.secondaryButton:hover {
  background-color: rgb(250, 250, 250);
}

.secondaryButton:active {
  background-color: rgb(240, 240, 240);
  box-shadow: none;
}

.mainLink {
  color: rgb(224, 115, 115);
  cursor: pointer;
}

.mainLink:hover {
  opacity: 0.75;
}

.mainLink:active {
  opacity: 0.5;
}